.notifications {
  background-color: #fff;
  height: 100%;
  overflow: hidden auto;
  .notification-box {
    overflow: hidden;
    ul {
      overflow: hidden;
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;
      li {
        padding: 1em;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        align-items: center;
        grid-gap: 1em;
        border-bottom: 1px solid #dbdbdb;
        .notification-image {
          width: 2.5em;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        .notification-content {
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
}
